<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html :: head">
</head>
<body>
    <div th:replace="fragment.html :: header"></div>

    <div class="my-page-info">
        <div th:replace="fragment.html :: my-page-head">
        </div>
        <div class="my-page-body">
            <div th:replace="fragment.html :: my-page-nav"></div>
            <div class="my-page-main-content first-head">
                <h3 class="blind">마이페이지 메인</h3>
                <div class="my-page-content-head">
                    <span class="page-title">주문내역 조회</span>
                    <!--<ul class="order-state">
                        <li><a href="">입금/결제 0</a></li>
                        <li><a href="">배송중 0</a></li>
                        <li><a href="">배송완료 0</a></li>
                        <li><a href="">구매확정 0</a></li>
                        <li><a href="">교환 0</a></li>
                        <li><a href="">교환완료 0</a></li>
                        <li><a href="">환불 0</a></li>
                        <li><a href="">환불완료 0</a></li>
                    </ul>-->
                    <a th:href="@{/myPage/order-list}" class="all-link">전체</a>
                </div>

                <table class="table-setting">
                    <colgroup>
                        <col style="width:auto">
                        <col style="width: 12%">
                        <col style="width: 12%">
                        <col style="width: 12%">
                        <col style="width: 12%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>상품정보</th>
                            <th>주문일자</th>
                            <th>주문번호</th>
                            <th>주문금액(수량)</th>
                            <th>주문상태</th>
                        </tr>
                    </thead>
                    <tbody>

                        <div th:each="order : ${member.getOrders()}">
                            <tr class="my-page-order-list-tr" th:each="orderItem : ${order.getOrderItems()}" >
                                <th class="my-page-order-list-item-info">
                                    <a th:href="@{'/goods/' + ${orderItem.getItem().getId()}}"><img class="order-item-img" th:src="@{'data:image/jpg;base64,'+ ${orderItem.getItem().getItemImage()}}" alt="#" /></a>
                                    <div>
                                        <span th:text="${orderItem.getItem().getBrand().getBrandName()}"></span>
                                    </div>
                                    <div class="my-page-order-list-item-name">
                                        <a th:href="@{'/goods/' + ${orderItem.getItem().getId()}}"><span th:text="${orderItem.getItem().getItemName()}"></span></a>
                                    </div>
                                    <div>
                                        <span>옵션 : </span><span th:text="${orderItem.getSize()}"></span>
                                    </div>
                                </th>
                                <th>
                                    <span th:text="${#temporals.format(orderItem.getOrder().getOrderDate(), 'yyyy-MM-dd')}"></span>
                                </th>
                                <th>
                                    <span th:text="${orderItem.getOrder().getId()}"></span>
                                </th>
                                <th>
                                    <span th:text="${orderItem.getItem().getItemPrice()}"></span>원
                                    <div>
                                        <span th:text="${orderItem.getCount()}"></span><span>개</span>
                                    </div>
                                </th>
                            <!--    <th th:if="${orderItem.getOrder().getMember().getReviews().isEmpty()}">
                                  <span  th:onclick="'javascript:writeReview(\'' + ${orderItem.getId()} + '\');'" class="my-page-order-list-reviewBtn">후기작성하기</span>
                                </th>-->
                                <!--<div th:each="review : ${orderItem.getOrder().getMember().getReviews()}">
                                    <th th:if="${review.getMember() == member.getId() and review.getItem().getId() == orderItem.getItem().getId()}">
                                        <span>후기를 작성하셨습니다.</span>
                                    </th>
                                </div>-->

                                <th>
                                    <div th:if="${member.getReviews().isEmpty() or orderItem.getItem().getReviews().isEmpty()}">
                                        <span  th:onclick="'javascript:writeReview(\'' + ${orderItem.getId()} + '\');'" class="my-page-order-list-reviewBtn">후기작성하기</span>
                                    </div>
                                    <div th:unless="${member.getReviews().isEmpty() or orderItem.getItem().getReviews().isEmpty()}">
                                        <div class="zzz">
                                            <span  th:onclick="'javascript:writeReview(\'' + ${orderItem.getId()} + '\');'" class="my-page-order-list-reviewBtn">후기작성하기</span>
                                        </div>
                                        <div th:each="review : ${orderItem.getItem().getReviews()}">
                                            <span th:if="${member.getReviews().contains(review)}">
                                                <span class="xxx">이미 작성함</span>
                                            </span>
                                        </div>
                                    </div>
                                   <!-- zz<
                                        <span th:if="${review.getItem().getId() == orderItem.getItem().getId()}">
                                           <span>후기를 작성하셨습니다.</span>
                                        </span>
                                        &lt;!&ndash;<span th:unless="${member.getReviews().contains(orderItem.getOrder().getOrderItems())}">
                                           <span  th:onclick="'javascript:writeReview(\'' + ${orderItem.getId()} + '\');'" class="my-page-order-list-reviewBtn">후기작성하기b</span>
                                        </span>&ndash;&gt;
                                        &lt;!&ndash;<span th:if="${review.getMember() == member.getId() and review.getItem().getId() == orderItem.getItem().getId()}">
                                            <span>후기를 작성하셨습니다.</span>
                                        </span>&ndash;&gt;
                                    </div>-->
                                </th>
                                <!--<th th:if="${!orderItem.getOrder().getMember().getReviews()}">
                                    <span>후기를 작성하셨습니다.</span>
                                </th>-->
                            </tr>

                        </div>
                    </tbody>
                </table>
                <p th:if="${member.getOrders().isEmpty()}" class="item-zero">
                    <span>최근 구매내역이 없습니다.</span>
                </p>
            </div>

           <!-- <div class="my-page-main-content">
                <h3 class="blind">장바구니 조회</h3>
                <div class="my-page-content-head">
                    <span class="page-title">장바구니</span>
                    <a href="#" class="all-link">전체</a>
                </div>
                <table class="table-setting">
                <colgroup>
                    <col style="width:3%">
                    <col style="width:auto">
                    <col style="width: 9%">
                    <col style="width: 12%">
                    <col style="width: 9%">
                    <col style="width: 17%">
                    <col style="width: 12%">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" class="all-check"></th>
                    <th>상품정보</th>
                    <th>상품금액</th>
                    <th>수량</th>
                    <th>주문금액</th>
                    <th>배송형태/배송비</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                </table>
                <p class="item-zero">
                    <span>장바구니에 담김 상품이 없습니다.</span>
                </p>
                <div class="btns">
                    <div class="del-btn">
                        <a href="#">선택삭제</a>
                    </div>
                    <div class="order-btn">
                        <a href="#">결제하기</a>
                    </div>
                </div>
            </div>-->

            <div class="my-page-main-content">
                <h3 class="blind">쿠폰 조회</h3>
                <div class="my-page-content-head">
                    <span class="page-title">쿠폰 <em>0장</em></span>
                    <a href="#" class="all-link">전체</a>
                </div>
                <table class="table-setting">
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:auto">
                        <col style="width: 12%">
                        <col style="width: 12%">
                        <col style="width: 12%">
                        <col style="width: 12%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>쿠폰번호</th>
                        <th>쿠폰명</th>
                        <th>할인금액</th>
                        <th>적용 범위</th>
                        <th>유효기간</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <p class="item-zero">
                    <span>사용가능한 쿠폰이 없습니다.</span>
                </p>
            </div>

           <!-- <div class="my-page-main-content">
                <h3 class="blind">좋아요 조회</h3>
                <div class="my-page-content-head">
                    <span class="page-title">좋아요</span>
                    <a href="#" class="all-link">전체</a>
                    <div class="like-btns">
                        <div class="item-btn">
                            <a href="#">상품</a>
                        </div>
                        <div class="brand-btn">
                            <a href="#">브랜드</a>
                        </div>
                    </div>
                </div>
                <p class="item-zero">
                    <span>
                        좋아하는 상품이 없습니다.<br />
                        상품을 추가해보세요.
                    </span>
                </p>
            </div>-->

          <!--  <div class="my-page-main-content">
                <h3 class="blind">상품문의 조회</h3>
                <div class="my-page-content-head">
                    <span class="page-title">상품문의</span>
                    <a href="#" class="all-link">전체</a>
                </div>
                <table class="table-setting">
                    <colgroup>
                        <col style="width:26%">
                        <col style="width:auto">
                        <col style="width: 12%">
                        <col style="width: 12%">
                        <col style="width: 12%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>상품정보</th>
                        <th>내용</th>
                        <th>문의 유형</th>
                        <th>작성일</th>
                        <th>처리 상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <p class="item-zero">
                    <span>상품문의가 존재하지 않습니다.</span>
                </p>
            </div>-->

            <div class="my-page-main-content">
                <h3 class="blind">구매후기 조회</h3>
                <div class="my-page-content-head">
                    <span class="page-title">구매후기</span>
                    <a href="#" class="all-link">전체</a>
                </div>
                <table class="table-setting">
                    <colgroup>
                        <col style="width:24%">
                        <col style="width:auto">
                        <col style="width: 11%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>상품정보</th>
                        <th>내용 후기</th>
                        <th>종류</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <p class="item-zero">
                    <span>등록한 후기가 존재하지 않습니다.</span>
                </p>
            </div>
        </div>
    </div>

    <script>
        function writeReview(e) {
            console.log(e);
            let url1 = '/new/review/' + e;
            window.open(url1 ,'후기쓰기','width=430,height=500,location=no,status=no,scrollbars=yes',);
        }
    </script>

    <script>
        window.addEventListener("load", function () {
            let xxx = document.querySelectorAll('.xxx');

            for(let i = 0; i < xxx.length; i++) {
                xxx[i].parentElement.parentElement.previousElementSibling.style.display = "none";
            }
        })
    </script>

    <!--<script th:inline="javascript">
        /*<![CDATA[*/
        let nowTime = [[${nowTime}]];
        let orderTime = [[${orderTime}]];
        /*]]>*/
    </script>-->
</body>
</html>