<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html :: head">
</head>
<body>

    <header class="setting-header">
        <h1><b><a th:href="@{/setting}">상품관리</a></b></h1>
    </header>

    <div>
        <div class="body-aside">
            <aside class="main-category-out-box box-end">
                <div class="main-category-inner-box">
                    <h3 class="blind">상품관리 메뉴</h3>
                    <ul class="sub-menu">
                        <a th:href="@{/setting/category}"><li class="setting-sub-list">카테고리관리</li></a>
                        <a th:href="@{/setting/brand}"><li class="setting-sub-list">브랜드등록</li></a>
                        <a th:href="@{/setting/add}"><li class="setting-sub-list">상품등록</li></a>
                        <a href=""><li class="setting-sub-list">상품수정</li></a>

                    </ul>
                </div>
            </aside>
        </div>
        <div class="main-box">
            <main class="main-area">
                <div class="main-container">
                    <h2 class="product-add-title">상품관리 메인</h2>

                    <div>
                        <table class="table-setting">
                            <colgroup>
                                <col style="width:5%">
                                <col style="width: 5%">
                                <col style="width: auto">
                                <col style="width: 10%">
                                <col style="width: 15%">
                                <col style="width: 15%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>No</th>
                                <th>상품명 / 품번</th>
                                <th>판매가</th>
                                <th>진열상태</th>
                                <th>판매상태</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="setting-product-main-page-tr" th:each="item : ${items}" >
                                    <th><input type="checkbox"></th>
                                    <th>0</th>
                                    <th class="aaa">
                                        <a th:href="@{'/setting/update/product/' + ${item.getId()}}">
                                            <div class="bbb">

                                                <img class="setting-product-main-page-img" th:src="@{'data:image/jpg;base64,'+ ${item.getItemImage()}}" alt="#" />
                                                <span th:text="${item.getItemName()}"></span> /
                                                <span th:text="${item.getItemNo()}"></span>
                                            </div>
                                        </a>
                                    </th>
                                    <th>
                                        <span th:text="${item.getItemPrice()}"></span>
                                    </th>
                                    <th>진열불가능</th>
                                    <th>판매불가능</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>