<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html :: head">
</head>
<body>

<header class="setting-header">
    <h1><b>상품관리</b></h1>
</header>

<div>
    <div class="body-aside">
        <aside class="main-category-out-box box-end">
            <div class="main-category-inner-box">
                <h3 class="blind">상품관리 메뉴</h3>
                <ul class="sub-menu">
                    <a th:href="@{/setting/category}"><li class="setting-sub-list">카테고리관리</li></a>
                    <a th:href="@{/setting/add}"><li class="setting-sub-list">상품등록</li></a>
                    <a href=""><li class="setting-sub-list">상품수정</li></a>
                </ul>
            </div>
        </aside>
    </div>

    <form hidden th:action="@{/setting/category}" method="post" id="addForm">

    </form>

    <div class="main-box">
        <main class="main-area">
            <div class="main-container">
                <h2 class="product-add-title">카테고리 관리</h2>
                <div class="category-box">
                    <div class="category-list-box">
                        <div>

                            <a href="#" class="category-btns add"><i class="fa fa-plus"></i><span> 카테고리 추가</span></a>
                            <a href="#" class="category-btns sub"><i class="fa fa-minus"></i><span> 카테고리 삭제</span></a>
                        </div>
                        <div class="category-list-box-main">
                            <div class="category-add-main-category">
                                <label class="from-main-title"><input type="checkbox" class="main-add" hidden><i class="fa fa-plus"></i><span> 대분류카테고리 추가</span></label>
                            </div>

                            <input class="listValue" hidden th:value="${#strings.listJoin(mainCategory, ',')}">
                            <div ></div>
                            </input>
                            <div class="main-category-area">
                                <div th:each="mainCategoryList : ${mainCategory}">
                                    <label><input type="checkbox" th:text="${mainCategoryList.name}"></label>
                                    <div th:each="subCategoryList : ${subCategory}" th:if="${subCategoryList.getParent().name.equals(mainCategoryList.name)}">
                                        <label><i class="fa fa-arrow-right"></i><input type="checkbox" th:text="${subCategoryList.name}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="category-add-box">
                        <div class="category-add-main-container category-display-sub" style="display: none">
                            <div class="category-add-main-title">
                                <h3><b>중분류 카테고리 추가</b></h3>
                            </div>
                            <div>
                                <input class="sub-category-name" type="text" placeholder="중분류명을 입력하세요">
                            </div>
                            <div class="category-sub-btn">
                                <span class="sub-add-btn">추가</span>
                                <span class="sub-can-btn">취소</span>
                            </div>
                        </div>

                        <div class="category-add-main-container category-display-main" style="display: none">
                            <div class="category-add-main-title">
                                <h3><b>대분류 카테고리 추가</b></h3>
                            </div>
                            <div>
                                <input class="main-category-name" type="text" placeholder="대분류명을 입력하세요">
                            </div>
                            <div class="category-sub-btn">
                                <span class="sub-add-btn">추가</span>
                                <span class="sub-can-btn">취소</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script th:replace="fragment.html::csrf"></script>
<script>
    window.addEventListener("load", function () {
        function addCategory() {
            alert("hey!!!!");

        }
    });

</script>
</body>
</html>