<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html :: head">
    <meta name="_csrf" content="${_csrf.token}"/>
</head>
<body>

<header class="setting-header">
    <h1><b><a th:href="@{/setting}">상품관리</a></b></h1>
</header>

<div>
    <div class="body-aside">
        <aside class="main-category-out-box box-end">
            <div class="main-category-inner-box">
                <h3 class="blind">상품관리 메뉴</h3>
                <ul class="sub-menu">
                    <a th:href="@{/setting/category}"><li class="setting-sub-list">카테고리관리</li></a>
                    <a th:href="@{/setting/brand}"><li class="setting-sub-list">브랜드등록</li></a>
                    <a th:href="@{/setting/add}"><li class="setting-sub-list">상품등록</li></a>
                    <a href=""><li class="setting-sub-list">상품수정</li></a>

                </ul>
            </div>
        </aside>
    </div>
    <div class="main-box">
        <main class="main-area">
            <div class="main-container">
                <h2 class="product-add-title">상품관리 메인</h2>

                <div class="search-setting-main-box">
                    <form th:action="@{/search-setting-main}">
                        <select class="search-select-name">
                            <option value="itemName">상품명</option>
                            <option value="brandName">브랜드명</option>
                        </select>
                        <input class="search-setting-input" name="itemName" type="text">
                        <button type="submit">검색</button>
                    </form>
                </div>

                <div>
                    <table class="table-setting">
                        <colgroup>
                            <col style="width:15%">
                            <col style="width: auto">
                            <col style="width: 10%">
                            <col style="width: 15%">
                            <col style="width: 15%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>상품명 / 품번</th>
                            <th>판매가</th>
                            <th>진열상태</th>
                            <th>판매상태</th>
                        </tr>
                        </thead>
                        <tbody class="table-setting-tbody">
                        <tr class="setting-product-main-page-tr" th:each="item : ${items2}" >
                            <input class="setting-form-item-id" type="hidden" th:value="${item.getItemId()}">
                            <th><input type="checkbox"></th>
                            <th class="aaa">
                                <a th:href="@{'/setting/update/product/' + ${item.getItemId()}}">
                                    <div class="bbb">

                                        <img class="setting-product-main-page-img" th:src="@{'data:image/jpg;base64,'+ ${item.getItemImage()}}" alt="#" />
                                        <span th:text="${item.getItemName()}"></span> /
                                        <span th:text="${item.getItemNo()}"></span>
                                    </div>
                                </a>
                            </th>
                            <th>
                                <span th:text="${item.getItemPrice()}"></span>
                            </th>
                            <th>
                                <div >
                                    <select class="select-display">
                                        <option th:value="${item.getDisplayStatus()}"  th:text="${item.getDisplayStatus()}"></option>
                                        <div th:each="display : ${displays}">
                                            <option th:if="${display != item.getDisplayStatus()}" th:value="${display}"  th:text="${display}"></option>
                                        </div>
                                    </select>
                                </div>
                            </th>
                            <th>
                                <!--   <div th:if="${item.getGoods() != null}" th:each="goodsOption : ${item.getGoods()}">
                                       <span th:if="${goodsOption.getSaleStatus().SALE.}">

                                       </span>
                                   </div>
                                   <div th:if="${item.getGoods() == null}">
                                       <span>옵션없음</span>
                                   </div>-->
                            </th>
                        </tr>
                        </tbody>
                    </table>

                    <div class="product-setting-page"
                         th:with="start=${(pages.getNumber()/maxPage)*maxPage + 1},
                  end=(${(pages.totalPages == 0) ? 1 : (start + (maxPage - 1) < pages.totalPages ? start + (maxPage - 1) : pages.totalPages)})">
                        <ul>
                            <li th:if="${start > 1}">
                                <a th:href="@{'/search-setting-main?'+ ${condition} + '=' + ${query} + '&page=' + 0}" >
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>

                            <li th:if="${start > 1}">
                                <a th:href="@{'/search-setting-main?'+ ${condition} + '=' + ${query} + '&page=' + ${start - maxPage - 1}}">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>

                            <li th:each="page: ${#numbers.sequence(start, end)}">
                                <a th:href="@{'/search-setting-main?'+ ${condition} + '=' + ${query} + '&page=' + ${page-1}}" th:text="${page}"></a>
                            </li>

                            <li th:if="${end < pages.totalPages}">
                                <a th:href="@{'/search-setting-main?'+ ${condition} + '=' + ${query} + '&page=' + ${start + maxPage - 1}}">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>

                            <li th:if="${end < pages.totalPages}">
                                <a th:href="@{'/search-setting-main?'+ ${condition} + '=' + ${query} + '&page=' + ${pages.getTotalPages()-1}}">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script type="application/javascript" th:inline="javascript">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<script>

    window.addEventListener("load", function () {
        let selectDisplay = document.querySelectorAll('.select-display');
        let settingFormItemId = document.querySelectorAll('.setting-form-item-id');
        let searchSelectName = document.querySelector('.search-select-name');
        let searchSettingInput = document.querySelector('.search-setting-input');
        let tableSettingTbody = document.querySelector('.table-setting-tbody');

        searchSelectName.onchange = function () {
            searchSettingInput.name = searchSelectName.value;
            console.log(searchSettingInput.name);
            console.log(searchSelectName.value);
        }

        tableSettingTbody.onclick = function (e) {
            for(let i = 0; i < selectDisplay.length; i++) {
                selectDisplay[i].onchange = function (e) {
                    console.log(selectDisplay[i].value);
                    console.log(typeof selectDisplay[i].value);

                    let data = {"display" : selectDisplay[i].value,
                        "itemId" : settingFormItemId[i].value};
                    console.log(data);
                    $.ajax({
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        url: "/update/selectDisplay",
                        type: "POST",
                        data: JSON.stringify(data),
                        success : function (value){

                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            alert("ERROR : " + textStatus + " : " + errorThrown);
                        }
                    });
                }
            }
        }
    });
</script>

</body>
</html>