<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html :: head">
</head>
<body>
    <div th:replace="fragment.html :: header"></div>

    <div>
        <div th:replace="fragment.html :: body-aside"></div>
        <div class="main-box">
            <div class="main-area">
                <div class="goods-header">
                    <div class="nav-ol">
                        <div class="nav-home dir">
                            <a th:href="@{/}">포트폴리오 스토어</a>
                        </div>
                        <div class="nav-brand-shop dir">
                            <a th:href="@{/}">브랜드 숍</a>
                        </div>
                        <div class="nav-brand">
                            <a th:href="@{/}">
                                <span th:text="${item.getBrand().getBrandNameEng()}"></span>
                                (<span th:text="${item.getBrand().getBrandName()}"></span>)
                            </a>
                        </div>
                    </div>
                </div>
                <div class="brand-banner">
                    <a th:href="@{/}">
                        <p class="brand-banner-bg">
                            <img class="setting-product-main-page-i mg" th:src="@{'data:image/jpg;base64,'+ ${item.getBrand().getBrandBanner()}}" alt="#" />
                        </p>
                    </a>
                </div>

                <div class="main-goods-container">
                    <div class="main-goods-box">
                        <div class="product-info">
                            <div class="product-nav">
                                <div class="dir">
                                    <a th:href="@{/}"><span th:text="${item.getItemCategories().get(0).getCategory().getParent().getName()}"></span></a>
                                </div>
                                <a th:href="@{/}"><span th:text="${item.getItemCategories().get(0).getCategory().getName()}"></span></a>
                                <a th:href="@{/}">(<span th:text="${item.getBrand().getBrandName()}"></span>)</a>
                            </div>
                        </div>

                        <div class="product-title">
                            <em><span th:text="${item.getItemName()}"></span></em>
                            <div class="product-title-eng">
                                <span th:text="${item.getItemNameEng()}"></span>
                            </div>
                        </div>

                        <div class="main-product">
                            <div class="product-thumb-info">
                                <div class="main-img">
                                    <img class="setting-product-main-page-i mg" th:src="@{'data:image/jpg;base64,'+ ${item.getItemImage()}}" alt="#" />
                                </div>
                                <div class="sub-img">
                                    <ul class="sub-img-list"></ul>
                                </div>
                            </div>
                            <div class="product-order-info">
                                <div class="product-detail-info">
                                    <h4 class="product-info-title">
                                        <b>Product Info</b>
                                        <span class="product-info-title-detail">제품정보</span>
                                    </h4>
                                    <ul class="product-info-list">
                                        <li>
                                        <span class="product-info-list-title">
                                            브랜드
                                            <span class="div">
                                                /
                                            </span>
                                            품번
                                        </span>
                                            <span class="product-info-list-content">
                                            <b>
                                                <a th:href="@{/}"><span th:text="${item.getBrand().getBrandNameEng()}"></span></a>
                                                <span class="div">
                                                    /
                                                </span>
                                                <span th:text="${item.getItemNo()}"></span>
                                            </b>
                                        </span>
                                        </li>
                                        <li>
                                        <span class="product-info-list-title">
                                            시즌
                                            <span class="div">
                                                /
                                            </span>
                                            성별
                                        </span>
                                            <span class="product-info-list-content">
                                            <b>
                                                <span th:text="${item.getSeason()}"></span>
                                                <span class="div">
                                                    /
                                                </span>
                                                <span th:text="${item.getGender()}"></span>
                                            </b>
                                        </span>
                                        </li>
                                        <li>
                                        <span class="product-info-list-title">
                                            조회수
                                        </span>
                                            <span class="product-info-list-content">
                                            <b>
                                                <span th:text="${item.getView()}"></span>
                                            </b>
                                        </span>
                                        </li>
                                        <li>
                                        <span class="product-info-list-title">
                                            누적판매
                                        </span>
                                            <span class="product-info-list-content">
                                            <b>
                                                <span th:text="${item.getSaleRate()}"></span>
                                            </b>
                                        </span>
                                        </li>
                                        <!--<li>
                                        <span class="product-info-list-title">
                                            좋아요
                                        </span>
                                            <span class="product-info-list-content">
                                            <b>
                                                <i class="fa fa-like"></i>{28672}
                                            </b>
                                        </span>
                                        </li>-->
                                        <li>
                                        <span class="product-info-list-title">
                                            구매후기
                                        </span>
                                            <span class="product-info-list-content">
                                            <b>
                                                {4.6}
                                            </b>
                                        </span>
                                        </li>
                                        <li>
                                            <span th:each="tagName : ${item.getItemTags()}">
                                                <span class="tag-border" th:text="${tagName.getTag().getTagName()}"></span>

                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="price_info">
                                    <h4 class="product-info-title">
                                        <b>Price Info</b>
                                        <span class="product-info-title-detail">가격정보</span>
                                    </h4>
                                    <ul class="product-info-list">
                                        <li>
                                        <span class="product-info-list-title">
                                            판매가
                                        </span>
                                            <span class="product-info-list-content">
                                            <b>
                                                <span th:text="${item.getItemPrice()} + '원'"></span>
                                            </b>
                                        </span>
                                        </li>
                                       <!-- <li>
                                        <span class="product-info-list-title">
                                            회원가
                                        </span>
                                            <span class="product-info-list-content">
                                            <b>
                                                {13,344 ~ 13,900원}
                                            </b>
                                        </span>
                                        </li>-->
                                        <li>
                                        <span class="product-info-list-title">
                                            적립금
                                        </span>
                                            <span class="product-info-list-content">
                                            <b>
                                                <span th:text="${item.getItemPrice()} / 25"></span>원

                                            </b>
                                        </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-select-option">
                                    <div class="produce-option-select-box">
                                        <div class="option-area">
                                            <select onchange="createOption(this)">
                                            <option value="noSelect" selected="selected" th:text="옵션선택" ></option>
                                                <!--<option th:each="options : ${item.getGoods()}" th:if="${options.getSaleStatus() == saleStatusYes}"
                                                        th:value="${options.getSize()}" th:text="${options.getSize()}" th:name="${options.getSize()}"></option>-->
                                                <span  th:each="options : ${item.getGoods()}">
                                                    <div  th:if="${options.getSaleStatus() == saleStatusYes}">
                                                        <option class="selected-option"  th:if="${options.getCount() > 0}" th:value="${options.getCount()}" th:text="${options.getSize()}"></option>
                                                        <option th:if="${options.getCount() == 0}" value="noSelect" th:text="${options.getSize()} + '(품절)'" ></option>
                                                    </div>
                                                </span>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="add-count">

                                    </div>
                                    <template class="goods-options-template">
                                        <ul class="produce-option-select-count-box">
                                            <li class="produce-option-selected-size">
                                                <span></span>
                                            </li>
                                            <li class="produce-option-selected-count">
                                                <div class="produce-option-selected-count-minus selected-align">
                                                    <span onclick="subPrice(this)">
                                                        <i class="fa fa-minus"></i>
                                                    </span>
                                                </div>
                                                <div class="produce-option-selected-count-number selected-align">
                                                    <input type="text" onkeyup="verifyInput(this)" value="1">
                                                </div>
                                                <div class="produce-option-selected-count-plus selected-align">
                                                    <!--<span onclick="addPrice()" th:onclick="'addPrice(\'' + ${item.getItemPrice()} + '\');'">-->
                                                    <span onclick="addPrice(this)" >
                                                        <i  class="fa fa-plus"></i>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="produce-option-selected-price">
                                                <span class="produce-option-selected-price-value" th:text="${item.getItemPrice()} + '원' "></span>
                                            </li>
                                        </ul>
                                    </template>

                                    <div class="product-total-payment">
                                        <span>
                                            <b>총 상품 금액</b>
                                        </span>
                                        <span class="total-price">
                                            0원
                                        </span>
                                    </div>

                                    <div class="product-recommendation-size">
                                        <span><b>사이즈 추천</b></span>
                                        <div class="product-recommendation-size-box">
                                            <ul>
                                                <li>
                                                    <div class="product-recommendation-size-list">
                                                        <div class="product-recommendation-size-list-bottom" th:each="recommand : ${item.getReviews()}">
                                                            <div>
                                                                <span th:text="${recommand.getHeight()}"></span>
                                                                <span style="float: none;">/</span>
                                                                <span th:text="${recommand.getWeight()}"></span>
                                                                <span>기준</span>
                                                                <span style="float: right;" th:text="${#temporals.format(recommand.getReviewDate(), 'yyyy-MM-dd')}"></span>

                                                            </div>
                                                            <div>
                                                                <span th:text="${recommand.getSize()} "></span>
                                                                <span style="float: none;" th:text="${recommand.getItemSize()}"></span>
                                                                <span>Size 구매</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <form hidden class="goods-form" th:action="@{/order-form}" method="get">
                                  <!--  <input type="text" th:name="itemId" th:value="${item.getId()}" class="select-option">-->
                                </form>

                                <div class="cart-yes">
                                    <span>장바구니에 담겼습니다.</span>
                                    <a th:href="@{/cart}"><span>장바구니로 가기</span></a>
                                </div>

                                <div class="cart-no">
                                    <span>이미 장바구니에 있는 상품입니다.</span>
                                    <a th:href="@{/cart}"><span>장바구니로 가기</span></a>
                                </div>

                                <div class="product-select-btn-box">
                                    <div class="product-select-btn">
                                        <span class="purchase-btn" onclick="purchaseGoods();">바로구매</span>
                                    </div>
                                    <div class="product-select-like">
                                        <div>
                                            <i class="fa fa-heart"></i>
                                            <span>{30000}</span>
                                        </div>
                                    </div>
                                    <div class="product-select-basket" >
                                        <div onclick="addCart1()">
                                            <i class="fa fa-shopping-bag"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  <!--main-goods-container 끝-->

                <div>
                    <div class="product-review-box">
                        <h3 class="product-review-title"><b>구매후기</b></h3>
                        <div class="product-review-box-container">
                            <div class="product-review-list" th:each="review : ${reviews}">
                                <div>
                                    <input class="review-id" type="hidden" th:value="${review.getId()}">
                                    <span class="product-review-username" th:text="${review.getMember().getUsername()}"></span>
                                    <span th:text="${#temporals.format(review.getReviewDate(), 'yyyy-MM-dd')}"></span>
                                </div>
                                <div class="product-review-img-box">
                                    <img class="product-review-page-img" th:src="@{'data:image/jpg;base64,'+ ${item.getItemImage()}}" alt="#" />
                                    <div class="product-review-page-item-info">
                                        <span th:text="${item.getItemName()}"></span> <br>
                                        <span th:text="${review.getItemSize()}"></span>구매 |
                                        <span th:text="${review.getHeight()}"></span>
                                        <span th:text="${review.getWeight()}"></span>
                                    </div>
                                </div>
                                <div class="product-review-page-item-review">
                                    <span class="product-review-page-item-review-box">
                                        사이즈 : <span th:text="${review.getSize()}"></span>
                                    </span>
                                    <span class="product-review-page-item-review-box">
                                        밝기 : <span th:text="${review.getColor()}"></span>
                                    </span>
                                    <span class="product-review-page-item-review-box">
                                         두께 : <span th:text="${review.getThickness()}"></span>
                                    </span>
                                </div>
                                <div class="product-review-page-item-review-des">
                                    <span th:text="${review.getDescription()}"></span>
                                </div>

                                <!--<form hidden class="item-review-form" th:action="@{/item/review}" method="post">
                                    <input type="text">
                                    <input type="text">
                                </form>-->

                                <div>
                                    <div class="product-review-page-item-review-comment-box">
                                        <div class="product-review-page-item-review-comment-text-box">
                                            <textarea class="product-review-page-item-review-comment-text"></textarea>
                                            <span class="product-review-page-item-review-comment-btn" onclick="comment(this)">댓글작성</span>
                                            <input type="hidden" th:value="${review.getId()}">
                                        </div>
                                    </div>
                                    <div  th:if="${!review.getComments().isEmpty()}" >
                                        <div class="review-comment-box" th:each="comment: ${review.getComments()}">
                                            <div th:text="${comment.getDescription()}"></div>
                                            <div>
                                                <span th:text="${comment.getUsername()}"></span> |
                                                <span th:text="${#temporals.format(comment.getCommentDate(), 'yyyy-MM-dd HH:mm')}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" th:value="${member.getUsername()}" class="review-username">
    <script th:replace="fragment.html :: main-nav-category"></script>
    <script type="application/javascript" th:inline="javascript">
        $(function() {
            var csrfToken = /*[[${_csrf.token}]]*/ null;
            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });
        });
    </script>
    <script >

        function comment(e) {
            /*<![CDATA[*/
            const itemId = [[${item.getId()}]];

            /*]]>*/

            let reviewUsername = document.querySelector('.review-username');


            console.log(reviewUsername.value);
            console.log(e.previousElementSibling.value);
            console.log(e.nextElementSibling.value);

            let data = {"reviewId" : e.nextElementSibling.value,
                        "comment" : e.previousElementSibling.value,
                        "username" : reviewUsername.value}



            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "/add/comment",
                type: "POST",
                data: JSON.stringify(data),
                success : function (value){

                    window.location.href = "http://localhost:8070/goods/" + itemId;
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("ERROR : " + textStatus + " : " + errorThrown);
                }
            });
        }

        function purchaseGoods() {
            let optionBox = document.querySelectorAll('.produce-option-select-count-box');
            addCart();
            if(optionBox.length == 0) {
                alert('옵션을 선택해 주세요');
                return ;
            }
            let goodsForm = document.querySelector('.goods-form');
            goodsForm.submit();
        }

        function addCart1() {
            let optionBox = document.querySelectorAll('.produce-option-select-count-box');
            addCart();
            if(optionBox.length == 0) {
                alert('옵션을 선택해 주세요');
                return ;
            }
            let carYes = document.querySelector('.cart-yes');
            carYes.style.display="block"
            viewCartPop = setInterval(function (){
                carYes.style.display="none";
            }, 2500);
        }

        function addCart() {
            let sizeValue = document.querySelectorAll('.produce-option-selected-size span');
            let countValue = document.querySelectorAll('.produce-option-selected-count-number input')
            let goodsForm = document.querySelector('.goods-form');

            let optionBox = document.querySelectorAll('.produce-option-select-count-box');

            if(optionBox.length == 0) {

                return ;
            }
            /*<![CDATA[*/
            const itemId = [[${item.getId()}]];
            /*]]>*/

            let sizes = [];
            let counts = [];
            let items = [];
            for(let i = 0; i < sizeValue.length; i++) {

                let inputSizeNode = document.createElement('input');
                let inputCountNode = document.createElement('input');
                let inputItemNode = document.createElement('input');
                inputSizeNode.name = "size";
                inputSizeNode.value = sizeValue[i].textContent;
                inputCountNode.name = "count";
                inputCountNode.value = countValue[i].value;
                inputItemNode.name = "itemId";
                inputItemNode.value = itemId;

                sizes.push(sizeValue[i].textContent);
                counts.push(countValue[i].value);
                items.push(itemId);

                goodsForm.append(inputSizeNode);
                goodsForm.append(inputCountNode);
                goodsForm.append(inputItemNode);
            }


            let data = {"size" : sizes,
                "count" : counts,
                "itemId" : items};

            console.log("bbb" + sizes);
            console.log("bbb" + counts);
            console.log("bbb" + items);

            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "/add/cart",
                type: "POST",
                data: JSON.stringify(data),
                success : function (value){

                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("ERROR : " + textStatus + " : " + errorThrown);
                }
            });
        }
        function verifyInput(e) {
            if(isNaN(e.value) || e.value == "") {
                e.value = 1;
                return ;
            }

            if(parseInt(e.value) > parseInt(e.max)) {
                e.value = 1;
                return ;
            }

            setTotalPrice(e);

        }

        function setTotalPrice(e) {
            /*<![CDATA[*/
            const itemPrice = [[${item.getItemPrice()}]];
            /*]]>*/
            e.parentElement.parentElement.nextElementSibling.children[0].textContent = parseInt(e.value) * parseInt(itemPrice) + "원";
            let totalPrice = document.querySelector('.total-price');
            let values = document.querySelectorAll('.produce-option-selected-price-value');
            totalPrice.textContent = '0';
            for(let i = 0; i < values.length; i++) {

                totalPrice.textContent = parseInt(totalPrice.textContent.replace(/[^0-9]/g,'')) + parseInt(values[i].textContent.replace(/[^0-9]/g,'')) + "원";
            }
        }

        function createOption(e) {
            if(e.options[e.selectedIndex].value == 'noSelect')
                return;
            console.log("2 = " + e.options[e.selectedIndex].text, "3 = " + e.options[e.selectedIndex].value);

            let b = verifySize(e.options[e.selectedIndex].text);

            if(b) {
                alert('이미 추가한 옵션입니다.');
                return ;
            }
            let goodsOptionsTemplate = document.querySelector('.goods-options-template');
            let cloneNode = document.importNode(goodsOptionsTemplate.content, true);
            let sizeNode = cloneNode.querySelector('.produce-option-selected-size span');
            let countNode = cloneNode.querySelector('.produce-option-selected-count-number input');
            let priceNode = cloneNode.querySelector('.produce-option-selected-price-value');
            countNode.max = e.options[e.selectedIndex].value;

            sizeNode.textContent = e.options[e.selectedIndex].text;


            let addCount = document.querySelector('.add-count');

            totalPrice(priceNode.textContent, 'option')


            addCount.append(cloneNode);
        /*    /!*<![CDATA[*!/
            const itemPrice = [[${item.getItemPrice()}]];
            /!*]]>*!/*/


        }

        function verifySize(a) {
            let allSize = document.querySelectorAll('.produce-option-selected-size span');

            for(let i = 0; i < allSize.length; i++) {
                if(allSize[i].textContent == a) {
                    return true;
                }
            }
                return  false;
        }

        function addPrice(e) {
            /*<![CDATA[*/
            const itemPrice = [[${item.getItemPrice()}]];
            /*]]>*/
            if(parseInt(e.parentElement.parentElement.children[1].children[0].max) > parseInt(e.parentElement.parentElement.children[1].children[0].value)){
                e.parentElement.parentElement.children[1].children[0].value = parseInt(e.parentElement.parentElement.children[1].children[0].value) + 1;

                e.parentElement.parentElement.nextElementSibling.children[0].textContent =
                    parseInt(e.parentElement.parentElement.nextElementSibling.children[0].textContent.replace(/[^0-9]/g,'')) + parseInt(itemPrice) + "원";

                totalPrice(itemPrice, 'plus');
            }
        }

        function subPrice(e) {
            /*<![CDATA[*/
            const itemPrice = [[${item.getItemPrice()}]];
            /*]]>*/
            if(parseInt(e.parentElement.parentElement.children[1].children[0].value) >= 2){
                e.parentElement.parentElement.children[1].children[0].value = parseInt(e.parentElement.parentElement.children[1].children[0].value) - 1;

                e.parentElement.parentElement.nextElementSibling.children[0].textContent =
                    parseInt(e.parentElement.parentElement.nextElementSibling.children[0].textContent.replace(/[^0-9]/g,'')) - parseInt(itemPrice) + "원";

                totalPrice(itemPrice, 'minus');
            }
        }

        function totalPrice(price, type) {
            console.log(type);
            let totalPrice = document.querySelector('.total-price');
            if(type == 'option') {
                console.log("option!!");
                totalPrice.textContent = parseInt(totalPrice.textContent.replace(/[^0-9]/g,'')) + parseInt(price) + "원";
            }
            if(type == 'plus') {
                console.log("plus!!");
                totalPrice.textContent = parseInt(totalPrice.textContent) + price + "원";
            }
            if(type == 'minus') {
                console.log("minus!!");
                totalPrice.textContent = parseInt(totalPrice.textContent) - price + "원";
            }


        }

        window.addEventListener("load", function () {
            let purchaseBtn = document.querySelector('.product-select-btn');

            let basketBox = document.querySelector('.product-select-basket');

            basketBox.onclick = function () {

            }




           /* addCount.onclick = function (e) {
                if(!e.target.classList.contains('fa'))
                    return ;

                /!*<![CDATA[*!/
                const itemPrice =  [[${item.getItemPrice()}]];
                /!*]]>*!/


                let produceOptionSelectedPriceValue = e.target.parentElement.parentElement.parentElement.nextElementSibling.children[0];

                if(e.target.classList.contains('fa-plus')) {
                    e.target.parentElement.parentElement.previousElementSibling.
                        children[0].textContent = parseInt(e.target.parentElement.parentElement.previousElementSibling.
                        children[0].textContent) + 1;
                    produceOptionSelectedPriceValue.textContent
                        = parseInt(itemPrice) * parseInt(e.target.parentElement.parentElement.previousElementSibling.
                        children[0].textContent) + "원";

                    totalPrice.textContent = parseInt(totalPrice.textContent.replace(/[^0-9]/g,'')) + parseInt(itemPrice) + "원";
                }

                if(e.target.classList.contains('fa-minus')) {
                   if(parseInt(e.target.parentElement.parentElement.nextElementSibling.
                       children[0].textContent) <= 1) {
                      alert('수량을 더이상 줄일수 없습니다.');
                      return ;
                   }
                    e.target.parentElement.parentElement.nextElementSibling.
                        children[0].textContent = parseInt(e.target.parentElement.parentElement.nextElementSibling.
                        children[0].textContent) - 1;
                    produceOptionSelectedPriceValue.textContent
                        = parseInt(itemPrice) * parseInt(e.target.parentElement.parentElement.nextElementSibling.
                        children[0].textContent)+ "원";
                    totalPrice.textContent = parseInt(totalPrice.textContent.replace(/[^0-9]/g,'')) - parseInt(itemPrice) + "원";
                }

            }
*/
        /*    selectedOptionSelect.onchange = function (e) {
                let text = e.target.value;
                if(text == "noSelect")
                    return ;

                var produceOptionSelectedSize = document.querySelectorAll('.produce-option-selected-size span');
                for(let i = 0; i < produceOptionSelectedSize.length; i++) {
                    if(produceOptionSelectedSize[i].textContent == text) {
                        alert('이미 추가한 옵션입니다.');
                        return;

                        let countNode = cloneNode.querySelector('.produce-option-selected-count-number')
                        let countValue = countNode.textContent;
                    }
                }
                let cloneNode = document.importNode(goodsOptionsTemplate.content, true);
                let spanNode = cloneNode.querySelector('li span');
                let priceNode = cloneNode.querySelector('.produce-option-selected-price-value');
                let countNode = cloneNode.querySelector('.produce-option-selected-count-number')
                let countValue = countNode.textContent;

                /!*<![CDATA[*!/
                priceNode.textContent  = [[${item.getItemPrice()}]];
                /!*]]>*!/
                priceNode.textContent = parseInt(priceNode.textContent) * parseInt(countValue) + "원";


                spanNode.textContent = text;


                totalPrice.textContent = parseInt(totalPrice.textContent.replace(/[^0-9]/g,'')) + parseInt(priceNode.textContent) + "원";
                console.log("cccccc" + totalPrice.textContent);

                let addCount = document.querySelector('.add-count');
                addCount.append(cloneNode);
            }*/
        });
    </script>
</body>
</html>