.new-product-box {
    padding: 20px 0 0 20px;
}

.new-goods-sub-list {
    display: inline-block;
    padding: 5px 50px 5px 0;
}
.new-goods-sub-list li{
    border-right: 30px;
}

.goods-rank-box, .goods-new-box {
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #ddd;
}
.rank-item {
    width: 90%;
}

.rank-item-img {
    display: inline-block;
    width: 137px;
    height: 170px;
    align-self: center;
}

.rank-view {
    display: inline-block;
    padding: 0 20px;
}

.rank-view:hover {
    background: #f1f1f1;
}

.rank-view span{
    margin: 0;
    width: 137px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 3px 0;
}

.rank-count:after {
    content: "위";
}

.rank-price:after {
    content: "원";
}

.rank-views {
    display: block;
}

.rank-sales {
    display: none;
}

.sort-view {
    font-weight: bold;
    color: black;
}

.new-item-box {
    padding-top: 17px;
}

.wrong-data-box {
    padding: 50px 40px;
}

.wrong-data {
    color: #ff603e;
}

.search-footer {
    margin-left: 269px;
}