.my-page-info {
    position: relative;
    min-width: 1560px;
    font-family: "Gulim", "Apple SD Gothic", Auto, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background: #fff;
    color: #000;
}

    .my-page-info-inner {
        max-width: 1880px;
        margin: 0 auto;
        padding: 75px 0 50px 290px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
    }

    .my-page-profile {
        min-width: calc(100% - 550px);
        float: left;
        padding: 17px 50px 0 210px;
        margin-left: -210px;
        box-sizing: border-box;
        position: relative;
    }

    .profile-img {
        display: block;
        width: 160px;
        height: 160px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
    }

    .my-name {
        display: inline-block;
        line-height: 60px;
        font-size: 58px;
        font-family: "Musinsa", sans-serif !important;
    }

    .link-my-info {
        display: inline-block;
        line-height: 20px;
        color: #777777;
        vertical-align: bottom;
        margin-bottom: 0px;
    }

    .my-info-detail {
        margin: 9px 0 14px 0;
    }

    .level {
        display: inline-block;
        font-size: 24px;
        font-family: "Musinsa", sans-serif;
        line-height: 30px;
    }

    .my-menu {
        display: flex;
        min-width: 760px;
        float: left;
        margin-top: 40px;
    }

    .my-menu a {
        width: 25%;
        padding-right: 40px;
        box-sizing: border-box;
        height: 114px;
        line-height: 20px;
    }

    .my-menu a i{
        font-size: 30px;
        display: block;
        width: 35px;
        height: 35px;
        vertical-align: middle;
        margin-bottom: 13px;
    }
    .my-menu a em{
        display: block;
        font-family: "Musinsa", sans-serif;
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
    }

.my-page-title {
    position: absolute;
    left: 45px;
    top: 13px;
    z-index: 100;
}

.my-page-body {
    min-width: 1400px;
    max-width: 1800px;
    padding: 0 40px;
    margin: 0 auto;
}

.my-page-nav {
    width: 175px;
    font-family: "Musinsa", sans-serif !important;
    font-size: 16px;
    line-height: 20px;
    margin: 54px 40px 0 0;
    float: left;
}

.my-page-nav .my-page-nav-title {
    font-size: 22px;
    line-height: 40px;
    margin: 28px 0 2px 0;
}

.my-page-nav a {
    display: block;
    color: #aaaaaa;
    line-height: 40px;
}

.body-main {
    --float: right;
}

.my-page-main-content {

    width: calc(100% - 215px);
    padding: 0;
    float: right;
}

.my-page-content-head {
    margin-top: 48px;
    border-bottom: 3px solid #000000;
    padding-bottom: 14px;
    font-family: "Gulim", "Apple SD Gothic", Auto, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    position: relative;
}

.my-page-content-head .first-head {
    margin-top: 80px;
}

.my-page-content-head .order-state {
    padding: 14px 0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-family: "Musinsa", sans-serif !important;
}

.my-page-content-head .order-state li {
    display: inline-block;
    color: #ccc;
    margin-right: 16px;
}

.table-setting {
    width: 100%;
    font-family: "Gulim", "Apple SD Gothic", Auto, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
}

.table-setting th {
    height: 52px;
    border-bottom: 1px solid #000000;
    font-size: 16px;
    vertical-align: middle;
    font-weight: normal;
    text-align: center;
}

.n-table-none {
    display: inline-block;
}

.item-zero::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.item-zero {
    height: 400px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}

.item-zero span {
    display: inline-block;
    font-family: "Gulim", "Apple SD Gothic", Auto, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    color: #777777;
    line-height: 21px;
    vertical-align: middle;
}

.btns {
    min-height: 32px;
    text-align: center;
    padding-top: 20px;
    clear: both;
    position: relative;
}

.del-btn {
    position: absolute;
    top: 20px;
    z-index: 1;
    left: 0;
    display: inline-block;

}
.del-btn>a{
    display: inline-block;
    border: 1px solid #e5e5e5;
    min-width: 70px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    font-family: "Gulim", "Apple SD Gothic", Auto, sans-serif !important;
}

.order-btn {
    display: inline-block;
    border: 1px solid #000000;
    background-color: #000000;
    min-width: 290px;
    height: 60px;
    line-height: 54px;
    padding-top: 4px;
    font-size: 20px;
    color: white;
}

.page-title>em {
    color: #14aaff;
    margin-left: 4px;
}

.like-btns {
    display: inline-block;
    padding: 5px 0 0 18px;
    vertical-align: top;
}

.item-btn {
    font-size: 18px;
    color: #ccc;
    float: left;


}

.brand-btn {
    font-size: 18px;
    color: #ccc;
    float: left;
    margin-right: 8px;
}

.brand-btn:before {
    content: "/";
    display: inline-block;

}

.all-link {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.all-link:hover {
    text-decoration: underline;
}