.brand-add-container {
    width: 500px;
}

.brand-add-box {
    padding: 20px 30px;
    border: 1px solid #ddd;
}

.brand-add-box h3 {
    font-size: 20px;
    padding: 20px 0px;
}

.brand-name-box input {
    width: 80%;
}

.brand-add-btn-box {
    padding: 20px 0;
}

.brand-add-btn-box button{

    width: 80px;
    height: 30px;
    background: none;
    border: 1px solid;
}

.brand-add-btn-box button:hover {
    background: black;
    color: white;
}