<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">

    <meta charset="UTF-8" />
    <title>Title</title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node_modules/cropper/dist/cropper.min.css">
    <link rel="stylesheet" href="/css/fragment.css" type="text/css">
    <link rel="stylesheet" href="/css/my-page.css" type="text/css">
    <link rel="stylesheet" href="/css/order-list.css" type="text/css">
    <link rel="stylesheet" href="/css/goods.css" type="text/css">
    <link rel="stylesheet" href="/css/setting-main.css" type="text/css">
    <link rel="stylesheet" href="/css/setting-category.css" type="text/css">
    <link rel="stylesheet" href="/css/setting-add-product.css" type="text/css">
    <link rel="stylesheet" href="/css/setting-brand.css" type="text/css">
    <link rel="stylesheet" href="/css/setting-update-product.css" type="text/css">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link rel="stylesheet" href="/css/goodsCategory.css" type="text/css">
    <link rel="stylesheet" href="/css/order.css" type="text/css">
    <link rel="stylesheet" href="/css/delivery.css" type="text/css">
    <link rel="stylesheet" href="/css/cart.css" type="text/css">
    <link rel="stylesheet" href="/css/review.css" type="text/css">
    <link rel="stylesheet" href="/css/search.css" type="text/css">


    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <scirpt src="/node_modules/cropper/dist/cropper.min.js"></scirpt>
    <scirpt src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></scirpt>


    <meta name="_csrf" content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="${_csrf.headerName}" />
    <style>
        *{
            box-sizing: border-box;
        }
        html, body {
            margin: 0;
            padding: 0;
        }
        #signUp-center-align {
            max-width: 385px;
            min-height: 140vh;
            padding: 0 15px 100px 15px;
            box-sizing: border-box;
            position: relative;
            margin: 0 auto;
        }

        .blind {
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            overflow: hidden;
        }

        #signUp {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            text-align: center;
        }

        .form-box{
            width: 350px;
        }
        .signUp-background{
            background: #f1f1f1;
            font-size: 14px;
            color: #000;
            line-height: 1.5;
        }
        #logo {
            background: url("/static/mainLogo.png");
            display: inline-block;
            width: 30px;
            height: 30px;
        }
        .login-input {
            padding: 15px 10px 14px;
            height: 50px;
            margin: 0;
        }
        .join, .idSearch, .pwSearch  {
            display: inline-block;
            height: 14px;
            line-height: 14px;
            margin: 4px 0 3px 0;
            width: 90px;
        }
        .loginMenu ul {
            list-style: none;
        }
    </style>
</head>
<body>

    <header th:fragment="header">
        <div class="header-top">
            <h1 class="title"><a th:href="@{/}">PORTFOLIO STORE</a></h1>
            <h2 class="blind">헤더 메뉴</h2>
            <div class="search-time"> <!--검색폼 && 실시간 검색어-->
                <h3 class="blind">상품검색</h3>
                <div class="search-box">
                    <h3 class="blind">상품검색 폼</h3>
                    <form id="main-search-form" th:action="@{/main/search}" th:object="${mainSearch}">
                        <fieldset>
                            <legend class="blind">검색창</legend>
                            <label class="blind">입력창</label>
                            <input id="search-query" type="text" onsubmit="mainSearchQuery()" th:field="*{query}">
                            <span id="search-button">
                                <i class="fa fa-search"></i>
                            </span>
                        </fieldset>
                    </form>
                </div>
                <div class="popularSearch">

                </div>
            </div>
            <div class="header-nav"><!--헤드 nav-->
                <h3 class="메인메뉴"></h3>
                <ul class="header-nav-ul">
                    <!--<li class="header-nav-li">
                        <a href="">랭킹</a>
                        <ul class="hoverTarget">
                            <li>상품</li>
                            <li>브랜드</li>
                            <li>검색어</li>
                        </ul>
                    </li>-->
                   <!-- <li class="header-nav-li">
                        <a href="">랭킹</a>
                    </li>
                    <li class="header-nav-li">
                        <a href="">랭킹</a>
                    </li>
                    <li class="header-nav-li">
                        <a href="">랭킹</a>
                    </li>
                    <li class="header-nav-li">
                        <a href="">랭킹</a>
                    </li>
                    <li class="header-nav-li">
                        <a href="">랭킹</a>
                    </li>
                    <li class="header-nav-li">
                        <a href="">랭킹</a>
                    </li>
                    <li class="header-nav-li">
                        <a href="">랭킹</a>
                    </li>
                    <li class="header-nav-li">
                        <a href="">랭킹</a>
                    </li>-->
                </ul>
            </div>
        </div>

        <div class="header-member"> <!--header 회원-->
            <h3 class="blind">회원메뉴</h3>
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}"><button type="button" class="header-member-login">로그인</button></a>

            <div class="header-member-block" sec:authorize="isAuthenticated()">
                <span class="header-member-block-username" th:text="${member.getUsername()}"></span>
            </div>
            <div class="header-member-block">
                <a th:href="@{/myPage}" class="header-member-block-link" sec:authorize="isAuthenticated()"> 마이페이지 </a>
                <a th:href="@{/login}" class="header-member-block-link" sec:authorize="!isAuthenticated()"> 마이페이지 </a>
            </div>
            <!--<div class="header-member-block">
                <a th:href="@{/}" class="header-member-block-link"> 최근 본 상품 </a>
            </div>-->
           <!-- <div class="header-member-block">
                <a th:href="@{/}" class="header-member-block-like header-member-block-link"> 좋아요 </a>
            </div>-->
            <div class="header-member-block">
                <a th:href="@{/cart}" class="header-member-block-link" sec:authorize="isAuthenticated()"> 장바구니 </a>
                <a th:href="@{/login}" class="header-member-block-link" sec:authorize="!isAuthenticated()"> 장바구니 </a>

                <span class="header-badge" sec:authorize="!isAuthenticated()">0</span>
                <span class="header-badge" sec:authorize="isAuthenticated()" th:text="${cartSize}">0</span>

            </div>
            <!--<div class="header-member-block">
                <a th:href="@{/}" class="header-member-block-link"> 주문배송조회 </a>
            </div>
            <div class="header-member-block">
                <a th:href="@{/}" class="header-member-block-link"> 고객센터 </a>
            </div>-->
            <div sec:authorize="isAuthenticated()" class="header-member-block">
                <form class="form-inline" action="#" th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">로그아웃</button>
                </form>
            </div>
        </div>
    </header>

    <div th:fragment="body-aside" class="body-aside"> <!--body 부분-->
        <h2 class="blind">body</h2>
        <aside class="aside"> <!-- aside 영역 -->
            <h3 class="blind">카테고리</h3>
            <div class="menu-btn">
                <a href="javascript:void(0)">
                    <i class="fa fa-bars icon-bars"></i>
                </a>
            </div>

            <div class="main-category-out-box"> <!--카테고리 시작-->
                <!--<div class="main-category-inner-box">
                    <ul class="sub-menu">
                        <li class="box-tab">품목</li>
                        <li class="box-tab">브랜드</li>
                        <li class="box-tab">숍인숍</li>
                    </ul>
                </div>-->
                <div class="main-category-main-menu-box">
                    <div class="sub-main-menu">
                        <div th:each="mainCategory :${mainCategories}" class="sub-main-menu-box">
                            <div class="sub-content-close">
                                <div class="sub-main-menu-mainCategory">
                                    <div class="sub-main-menu-mainCategory-title content-item-close"
                                         th:text="${mainCategory.getName()}"></div>
                                    <div class="sub-main-menu-mainCategory-plus" >
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="sub-content-open" style="display: none;">
                                <div class="sub-main-menu-mainCategory">
                                    <div class="sub-main-menu-mainCategory-title content-item-open"
                                         th:text="${mainCategory.getName()}"></div>
                                    <div class="sub-main-menu-mainCategory-minus">
                                        <i class="fa fa-minus"></i>
                                    </div>
                                </div>

                                <div class="sub-main-menu-sub-category-content-area">
                                    <a class="subCategory-all" th:href="@{'/goods/mainCategory/' + ${mainCategory.getId()}}">전체</a>
                                    <div class="sub-main-menu-sub-category-align">
                                        <div th:each="subCategory : ${subCategories}"
                                             th:if="${mainCategory.getName() == subCategory.getParent().getName()}"
                                             class="sub-main-menu-subCategory">

                                            <ul class="sub-main-menu-sub-category-align-detail">
                                                <a th:href="@{'/goods/category/' + ${subCategory.getId()}}">
                                                    <li>
                                                        <div>
                                                            <span href="" th:text="${subCategory.getName()}"></span>

                                                        </div>
                                                    </li>
                                                </a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </aside>
    </div>

    <div th:fragment="my-page-head">
        <div class="my-page-title">
            <h3 class="blind">마이페이지</h3>
            <a th:href="@{/myPage}" class="page-title">
                <b>My Page</b>
            </a>
        </div>
        <div class="my-page-info-inner">
            <div class="my-page-profile">
                <div class="profile-img">
                    <svg width="170" height="170" data-jdenticon-value="user127"></svg>
                </div>
                <em class="my-name">
                    <span th:text="${member.getUsername()}"></span>
                </em>
                <!--<a th:href="@{/myPage/info}" class="link-my-info">회원정보변경</a>-->
                <div class="my-info-detail">
                    <em class="level">LV.1</em>
                    <span th:text="${#temporals.format(member.getJoinAt(),'yyyy-MM-dd')}"></span>
                    <!--<p>...님 다음등급 ..까지 ...,....점 남았습니다</p>-->
                </div>
            </div>
            <div class="my-menu">
                <a th:href="@{/}">
                    <i class="fa fa-won"></i>
                    <span>적립금 ></span>
                    <em>1,000</em>
                </a>
                <a th:href="@{/}">
                    <i class="fa fa-product-hunt"></i>
                    포인트 >
                    <em>1,000</em>
                </a>
                <a th:href="@{/}">
                    <i class="fa fa-copyright"></i>
                    쿠폰 >
                    <em>0</em>
                </a>
                <a th:href="@{/}">
                    <i class="fa fa-edit"></i>
                    후기작성 >
                    <em>0</em>
                </a>
            </div>
        </div>
    </div>

    <nav th:fragment="my-page-nav" class="my-page-nav">
        <h3 class="blind">myPage nav</h3>
        <ul>
            <li class="my-page-nav-title">나의 쇼핑 활동</li>
            <il><a th:href="@{/myPage/order-list}">주문 내역 조회</a></il>
            <il><a href="">구매후기</a></il>
            <il><a href="">상품문의</a></il>
            <il><a href="">최근 본 상품</a></il>
            <il><a href="">좋아요</a></il>
            <il><a href="">마이 사이즈</a></il>
            <li class="my-page-nav-title">매거진&커뮤니티
            <li><a href="">커뮤니티</a></li>
            <li><a href="">친구</a></li>
            <li><a href="">쪽지</a></li>
        </ul>
    </nav>

    <footer class="footer" th:fragment="footer">
        본 프로젝트는 MUSINSA STORE를 모델로 만든 포트폴리오입니다.
    </footer>

    <script>
        function mainSearchQuery() {
            alert('aaaa');
        }
    </script>

    <script th:fragment="main-nav-category">
        window.addEventListener("load", function () {
            let subMainMenu = document.querySelector('.sub-main-menu');
            let searchButton = document.querySelector('#search-button');

            searchButton.on

            subMainMenu.onclick = function(e) {
                if(e.target.classList.contains('content-item-close')) {
                    e.target.parentElement.parentElement.parentElement.children[1].style.display="block";
                    e.target.parentElement.parentElement.style.display ="none";
                } else if(e.target.classList.contains('content-item-open')) {
                    e.target.parentElement.parentElement.parentElement.children[0].style.display="block";
                    e.target.parentElement.parentElement.style.display ="none";
                }
            }
        });
    </script>
    <script type="application/javascript" th:fragment="form-validation">
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
            }, false)
        }())
    </script>
</body>
</html>