<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment.html :: head">
</head>
<body>
    <div th:replace="fragment.html :: header"></div>

    <div>
        <div th:replace="fragment.html :: body-aside"></div>
        <div class="main-box">
            <main class="main-area">
                <div class="main-container">
                    <div class="goods-rank-box">
                        <h2 class="blind">랭킹 카테고리</h2>
                        <div class="main-rank-category">
                            <h2 class="main-txt">랭킹</h2>
                            <span class="txt-detail-link">
                        </span>
                            <div class="renew-rank">
                                <!--<a href="javascript:void(0)">
                                    <span class="renew-rank-date">0분 전 갱신</span>
                                </a>-->
                            </div>
                            <ul class="rank-menu-category">
                                <li>
                                    <span class="sort-view">조회순</span>
                                    <span class="sort-sale">판매순</span>
                                </li>
                            </ul>
                        </div>

                        <h3 class="blind">랭킹 상품목록</h3>
                        <div class="rank-item-box">
                            <div class="rank-item">
                                <ul class="rank-views">
                                   <li class="rank-view" th:each="view : ${rankView}">
                                       <span class="rank-count" th:text="${viewStat.count}"></span>
                                       <a th:href="@{'/goods/' + ${view.getId()}}"> <img class="rank-item-img" th:src="@{'data:image/jpg;base64,'+ ${view.getItemImage()}}" alt="#" /></a>
                                       <b><span th:text="${view.getBrand().getBrandName()}"></span></b>
                                       <a th:href="@{'/goods/' + ${view.getId()}}"><span th:text="${view.getItemName()}"></span></a>
                                       <b><span class="rank-price" th:text="${view.getItemPrice()}"></span></b>
                                   </li>
                                </ul>
                                <ul class="rank-sales">
                                    <li class="rank-view" th:each="sale : ${rankSale}">
                                        <span class="rank-count" th:text="${saleStat.count}"></span>
                                        <a th:href="@{'/goods/' + ${sale.getId()}}"> <img class="rank-item-img" th:src="@{'data:image/jpg;base64,'+ ${sale.getItemImage()}}" alt="#" /></a>
                                        <b><span th:text="${sale.getBrand().getBrandName()}"></span></b>
                                        <a th:href="@{'/goods/' + ${sale.getId()}}"><span th:text="${sale.getItemName()}"></span></a>
                                        <b><span class="rank-price" th:text="${sale.getItemPrice()}"></span></b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="goods-new-box">
                        <h2 class="blind">신상품</h2>
                        <div class="main-rank-category">
                            <h2 class="main-txt">신상품</h2>
                            <span class="txt-detail-link">
                                전체
                            </span>
                            <div class="renew-rank">
                                <a href="javascript:void(0)"> <!-- 클릭시 상품랭킹 갱신 -->
                                    상품
                                </a>
                            </div>
                            <ul class="rank-menu-category">
                                <li>
                                    <a href="">전체</a>
                                </li>
                                <div class="new-goods-sub-list" th:each="main : ${mainCategories}">

                                </div>
                            </ul>
                        </div>

                        <h3 class="blind">신상품목록</h3>
                        <div class="rank-item-box">
                            <div class="rank-item">
                                <ul class="new-item">
                                    <li class="rank-view" th:each="newItem : ${newItems}">
                                        <a th:href="@{'/goods/' + ${newItem.getId()}}"> <img class="rank-item-img" th:src="@{'data:image/jpg;base64,'+ ${newItem.getItemImage()}}" alt="#" /></a>
                                        <b><span th:text="${newItem.getBrand().getBrandName()}"></span></b>
                                        <a th:href="@{'/goods/' + ${newItem.getId()}}"><span th:text="${newItem.getItemName()}"></span></a>
                                        <b><span class="rank-price" th:text="${newItem.getItemPrice()}"></span></b>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <a th:href="@{/goods}">상품페이지</a>
                        </div>
                    </div>

                </div> <!--main-container끝-->
            </main>
        </div>
    </div>

    <script th:replace="fragment.html :: main-nav-category"></script>
    <script>

        window.addEventListener("load", function () {
            let rankViews = document.querySelector('.rank-views');
            let rankSales = document.querySelector('.rank-sales');
            let sortView = document.querySelector('.sort-view');
            let sortSale = document.querySelector('.sort-sale');
            let switchView = false;
            setInterval(function (){
                if(!switchView) {
                    sortView.style.fontWeight ="normal";
                    sortView.style.color = "#b2b2b2"
                    sortSale.style.fontWeight ="bold";
                    sortSale.style.color = "black"
                    rankSales.style.display="block";
                    rankViews.style.display="none";
                    switchView = true;
                } else {
                    sortView.style.fontWeight ="bold";
                    sortView.style.color = "black"
                    sortSale.style.fontWeight ="normal";
                    sortSale.style.color = "#b2b2b2"
                    rankSales.style.display="none";
                    rankViews.style.display="block";
                    switchView = false;
                }
            }, 2500);
        });
    </script>
</body>
</html>